# dependencies
/node_modules
/.pnp
.pnp.js

# next.js
/.next/
/out/
next-env.d.ts

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env — NEVER commit real secrets
.env
.env.local
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# editor
.idea
.vscode/*
!.vscode/extensions.json
